#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Eğer dosyalar aynı klasördeyse bu satır ZMK Studio'nun haritayı çözmesini sağlar:
#include "buton.overlay"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8
            >;
        };
    };
};